* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --blue-base: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;
  --title: #313131;
  --text: #b6b6b6;
  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

html,
body,
#root {
  min-width: 100%;
  min-height: 100%;
}

body {
  font-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--white);
  background-color: rgba(128, 128, 128, 0.137);
}

/* -------------------------------Inicio do Header--------------------------- */

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  background: var(--linear);
}

header .heading {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 20px;
}

.heading h1 {
  font-size: 18px;
}

header .search-wrapper {
  width: 90%;
  height: 44px;
  display: flex;
  align-items: center;
  margin: 0.4rem auto;
  padding-top: 0.8rem;
  padding-right: 1rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  border: none;
  border-radius: 5px;
  background: linear-gradient(80deg, #9a91fa 0%, #75c9fa 100%);
}

.search {
  width: 44rem;
  height: 40px;
  margin: 0.4rem auto;
  padding-top: 0.8rem;
  padding-right: 3rem;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  color: var(--white);
  border: none;
  background: linear-gradient(80deg, #9a91fa 0%, #75c9fa 100%);
}

::-webkit-input-placeholder {
  color: var(--white);
}

.search:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
}

/* -----------------------------Fim do Header-------------------------------- */

/* -----------------------------Inicio da Section --------------------------- */

section {
  margin: 5rem 0;
}

section article {
  width: 60%;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: 0 0 3px #ccc;
  cursor: pointer;
  transition: linear 200ms;
}

section .date {
  display: flex;
  justify-content: space-between;
}

article .text {
  color: var(--text);
  font-size: 12px;
}

article .paragraph {
  line-height: 24px;
}

article h1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 16px;
  color: var(--title);
}

article:hover {
  transform: scale(1.2);
}

/* -------------------------------Fim da Section------------------------------*/
